* {
  margin: 0;
  padding: 0;
}

.container {
  background: #0e153a;
  height: 100vh;
}
.container .innerText {
  height: 100vh;
  display: flex;
  justify-content: center;
  align-items: center;
  text-align: center;
}
.container .innerText .textBody h2 {
  margin-bottom: 30px;
  color: #fff;
}
.container .innerText .textBody .btn {
  margin-bottom: 20px;
  color: rgb(255, 255, 255);
  border: 1px solid #fff;
  padding: 15px 30px;
  cursor: pointer;
  display: inline;
  border-radius: 10px;
  background: transparent;
  transition: all 0.3s linear;
  margin-bottom: 20px;
}
.container .innerText .textBody .btn:hover {
  color: #0e153a;
  background: #fff;
  border-radius: 10px;
}
